<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "rentals" class="navbar-brand"}}
        BookingSync
      {{/link-to}}
    </div>
  </div>
</nav>
