<button class="btn btn-primary" {{action "open"}}>{{buttonText}}</button>
<div id="page--page-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    {{yield}}
  </div>
</div>